# Data Science Tools and Ecosystem

## Author
Kyle Rattray

In this notebook, Data Science Tools and Ecosystems are summarised.

**Objectives:**
* List popular Data Science Languages
* List popular Data Science Libraries
* List popular Data Science Tools
* Provide examples of basic arithmetic with Python

Some of the popular languages used by Data Scientists are:
1. Python 
2. R 
3. SQL 
4. Scala 
5. Java 
6. C++ 
7. Julia

Some of the common libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Spark

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions with Python.

In [1]:
#Arithmetic expression to multiply and then add integers.
(3*4)+5

17

In [2]:
# Conversion of 200 minutes into hours by division.
200/60

3.3333333333333335